@import url(./fonts/fonts.css);

body {
  background: url('./images/bg.jpg');
  background-size: cover;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  margin: 0 0 27px;
  text-align: center;

  font-family: 'Exo 2', sans-serif;
  font-weight: 100;
  letter-spacing: 2px;
  color: #fff;
}

@media (max-width: 1150px) {
  body {
    height: 100%;
    padding-top: 30px;
  }

/*  Специально для IE 11 */

  #root {
    width: 100%;
  }
}